#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.nav-links{
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
label{
  font-size: 20px;
}
input{
  border: 0;
  background: transparent;
  font-size: 16px;
  padding: 10px 40px;
  border-bottom: 0.5px solid whitesmoke;
  border-radius: 5px;
}
button{
  display: inline-block;
  width: 200px;
  margin: 10px auto;
}
select{
  padding: 10px 20px;
  margin-left: 10px;
}