*{
  margin: 0;
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --gw: 15px;
  --gh: 15px;
}
ul {
  list-style: none;
  padding: 0;
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    padding-left: var(--gw);
    padding-right: var(--gw);
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));
    row-gap: 20px;
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding-left: var(--gw);
    padding-right: var(--gw);
} 
.nav-links{
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
  justify-content: center;
}
h2{
  font-size: 35px;
  margin-bottom: 55px;
}
form{
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #5A7ACD;
  width: 45%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
label{
  font-size: 20px;
}
input{
  border: 0;
  background: transparent;
  font-size: 16px;
  padding: 10px 40px;
  border-bottom: 0.5px solid whitesmoke;
  border-radius: 5px;
}
table{
  margin: 10px auto;
}
.add-btn{
  display: inline-block;
  width: 200px;
  margin: 10px auto;
  background-color: transparent;
  outline: none;
  padding: 10px 20px;
  color: white;
  border: 1px solid #5A7ACD;
  border-radius: 10px;
  font-size: 20px;
}
.add-btn:hover{
  box-shadow: 0px 0px 10px #5A7ACD;
}
select{
  padding: 10px 20px;
  margin-left: 10px;
  background-color: transparent;
  color: white;
}
.employee-card{
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #5A7ACD;
}